src/cicp_plptree_xml_parser.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
>

	<xs:element name="child" type="child_t"/>

  <xs:complexType name="child_t">
    <xs:sequence>
			<xs:element name="attribute" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="preference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="child" type="child_t" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
